{% extends 'Staff/StaffBase.html' %}

{% block head %}
<style>
    .myflexx{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #myformforstudentgrades{
        align-self: stretch;
    }
    button{
        padding: 8px 15px;border-radius: 10px !important;margin: 5px 0px;box-sizing: border-box;border: 0px;
        font-size: 1.1rem !important;font-weight: 300; background-color: var(--bg-primary) !important;}
</style>

{% endblock %}

{% block body %}
<form class="form-inline" method="POST" action="{{url_for('student_info', access_level=current_user.access_level)}}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Choose a student year: </span>
            <select name="year_select" class="selectpicker form-control">
                <option selected value="1">Year 1</option>
                <option value="2">Year 2</option>
                <option value="3">Year 3</option>
            </select>
    </div>
    <button type="submit" class="btn btn-default">Filter</button>
  </div>
</form>

<h1>Student Grades</h1>
<div class="myflexx">
<form action='' method = "POST" id="myformforstudentgrades">
    <div class="container">
        {% for course in courses %}
            <h3 style="text-decoration: underline">{{course.course_name}}</h3>
            <table class="table table-striped" style="flex: 4 1 40rem">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Grade</th>
                    </tr>
                </thead>
                <tbody class="table-striped">
                    {% for student_course in student_courses %}
                        {% if course.course_id == student_course.course_id | int %}
                            {% for student in students %}
                                {% if student.student_id | int == student_course.student_id | int %}
                                    <tr>
                                        <td>{{ student.first_name }}</td>
                                        <td>{{ student.last_name }}</td>
                                        <td>{{ student_course.grade }}</td>
                                    </tr>
                                   {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</form>

<a href="{{url_for('generate_pdf', access_level=current_user.access_level)}}"><button type="button">Generate Pdf Report</button></a>
</div>
{% endblock %}