{% extends 'Teacher/TeacherBase.html' %}

{% block head %}
<style>
    .flex-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 1rem;
    }
    button{
        padding: 8px 15px;border-radius: 10px !important;margin: 5px 0px;box-sizing: border-box;border: 0px;
        font-size: 1.1rem !important;font-weight: 300;}
    .card{padding: 30px 40px;margin-top: 60px;margin-bottom: 60px;
        border: none !important;box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)}
    .form-control-label{margin-bottom: 0}
    input:focus, textarea:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;
        box-shadow: none !important;border: 1px solid var(--bg-secondary);outline-width: 0;font-weight: 400}
    .btn-block:hover{color: #fff !important}button:focus{-moz-box-shadow: none !important;
                                                -webkit-box-shadow: none !important;box-shadow: none !important;
                                                outline-width: 0}
    #bossoranj{
        background-color: var(--bg-primary) !important;
    }
</style>

{% endblock %}

{% block body %}
<h1>Proposed Optionals</h1>
<div class="flex-container">
    <table class="table table-striped" style="flex: 4 1 40rem">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Semester</th>
          <th scope="col">Year</th>
          <th scope="col">Max Students</th>
        </tr>
        </thead>
        <tbody>
            {% for proposed_course in proposed_courses %}
            <tr>
                <td>{{proposed_course.proposed_course_name}}</td>
                <td>{{proposed_course.proposed_course_description}}</td>
                <td>{{proposed_course.proposed_course_semester}}</td>
                <td>{{proposed_course.proposed_course_year}}</td>
                <td>{{proposed_course.proposed_course_max_number}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if limit < 2 %}
    <div class="container-fluid px-1 py-5 mx-auto" style="flex: 3 0 45rem;">
    <div class="row d-flex justify-content-center" id="ianutemaiflexa">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Propose an Optional Course</h3>
            <div class="card">
                <form class="form-card" method = "POST">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label for="name" class="form-control-label px-3">Name<span class="text-danger"> *</span></label> <input type="text" name="name" id="name" placeholder="Enter Name"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label for="description" class="form-control-label px-3">Description<span class="text-danger"> *</span></label> <input type="text" name="description" id="description" placeholder="Enter Description"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label for="semester" class="form-control-label px-3">Semester<span class="text-danger"> *</span></label> <select name="semester" id="semester" > <option value="1">Semester 1</option><option value="2">Semester 2</option> </select> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label for="year" class="form-control-label px-3">Year<span class="text-danger"> *</span></label> <select name="year" id="year"><option value="Year 1">Year 1</option><option value="Year 2">Year 2</option><option value="Year 3">Year 3</option></select> </div>
                    </div>
                    <div class="row justify-content-center text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-2">Max Number<span class="text-danger"> *</span></label> <input type="number" id="maxnumber" name="maxnumber" placeholder="1" min="1"> </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6"> <button type="submit" id="bossoranj" class="btn-block btn-primary">Submit Proposal</button> </div>
                    </div>
                </form>
        </div>
    </div>
        </div>
    </div>

    {% endif %}

</div>
{% endblock %}